<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/app.js"></script>
    </head>
    <body>
        {{>header}}
        Contact {{contact}} for help.
        {{>footer}}
    </body>
</html>